
h1
{
	color: crimson; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: rgb(246, 235, 255);
	border-style:  dotted;

}
